// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.find-hbs {
  li {
    padding-bottom: 10px;
  }
  .active {
    background-color: #263238;
  }
  button {
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1rem;
  }

  ul {
    font-size: 1rem;
    list-style-type: none;
    
    li {
      list-style-type: none;
    }

    .file-path {
      font-size: 1.1rem;
      color: #4c5a66;
    }

  }
}
